@import '~node_modules/modern-normalize/modern-normalize.css'; /* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-latin_cyrillic-300.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-300.ttf") format("truetype");
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype");
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype");
}
/* Times New Roman */
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanMTStd.eot");
  src: local("Times New Roman MT Std Regular"), local("TimesNewRomanMTStd"), url("../fonts/TimesNewRomanMTStd.woff2") format("woff2"), url("../fonts/TimesNewRomanMTStd.woff") format("woff"), url("../fonts/TimesNewRomanMTStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanMTStd-Bold.eot");
  src: local("../fonts/Times New Roman MT Std Bold"), local("TimesNewRomanMTStd-Bold"), url("../fonts/TimesNewRomanMTStd-Bold.woff2") format("woff2"), url("../fonts/TimesNewRomanMTStd-Bold.woff") format("woff"), url("../fonts/TimesNewRomanMTStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Film P3 */
@font-face {
  font-family: "Film P3";
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) and (max-width: 1023px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.double-room {
  background-color: rgb(255, 253, 238);
}

.double-room__section {
  margin-bottom: 188px;
  position: relative;
  z-index: 1;
}

.room-picture {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 580px;
}

.section-room__subtitle {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  color: #B4B4B4;
  padding-top: 72px;
  margin-bottom: 4px;
}

.hotel__title {
  margin-bottom: 75px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 69px;
  letter-spacing: 0.3em;
  color: #494848;
}

.hotel__title-three {
  margin-bottom: 24px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #000000;
}

.double-room__describe {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  width: 400px;
}

.room-pictures {
  display: flex;
  padding-left: 88px;
}

.list {
  list-style: none;
}

.room-pictures-list {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: nowrap;
}

.room-pictures-list__item {
  background-color: var(--title-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.buttons-container {
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 255px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 326px;
}

.hotel-button {
  box-sizing: border-box;
  width: 236px;
  height: 48px;
  background: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.02em;
  /* Akzent yellow */
  color: #F3C653;
}

body {
  font-family: "Montserrat", "Times New Roman", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */