@import './common';

@import './base/typography'; // fonts
@import './utils/variables'; // colors/animations etc..

@import './components/visually-hidden'; // Hidden blocks
@import './components/container'; // Container
@import './components/btn'; // default button

@import './components/main-hero';
@import './footer'; // Container
@import './components/restaurant-hero'; // Restaurant page Hero

@import './components/hero-room-page';

// @import './example';

body {
  font-family: 'Montserrat', 'Times New Roman', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

// Images
img {
  display: block;
  max-width: 100%;
  height: auto;
}
