@import '~node_modules/modern-normalize/modern-normalize.css'; /* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-latin_cyrillic-300.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-300.ttf") format("truetype");
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype");
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype");
}
/* Times New Roman */
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanMTStd.eot");
  src: local("Times New Roman MT Std Regular"), local("TimesNewRomanMTStd"), url("../fonts/TimesNewRomanMTStd.woff2") format("woff2"), url("../fonts/TimesNewRomanMTStd.woff") format("woff"), url("../fonts/TimesNewRomanMTStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanMTStd-Bold.eot");
  src: local("../fonts/Times New Roman MT Std Bold"), local("TimesNewRomanMTStd-Bold"), url("../fonts/TimesNewRomanMTStd-Bold.woff2") format("woff2"), url("../fonts/TimesNewRomanMTStd-Bold.woff") format("woff"), url("../fonts/TimesNewRomanMTStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Film P3 */
@font-face {
  font-family: "Film P3";
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@media screen and (min-width: 414px) and (max-width: 1023px) {
  .container-header {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    background: #0e0c07;
    display: flex;
    flex-direction: row;
  }
  .logo {
    margin-top: 16px;
    margin-bottom: 0;
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .nav {
    display: flex;
  }
  .nav__list-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .nav__item-restaurant {
    margin-left: 52px;
    margin-top: 28px;
  }
  .nav__link-restaurant {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .icon-phone-restaurant {
    fill: rgb(243, 198, 83);
    width: 12px;
    height: 20px;
    visibility: visible;
  }
  .nav__link-restaurant-phone {
    visibility: hidden;
    display: none;
  }
  .nav__link-hotel {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .nav__link-hotel-phone {
    visibility: hidden;
    display: none;
  }
  .header__social-net {
    visibility: hidden;
    display: none;
  }
}
body {
  font-family: "Montserrat", "Times New Roman", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */