@import '~node_modules/modern-normalize/modern-normalize.css'; /* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v25-latin_cyrillic-300.eot');
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-300.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-300.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-300.ttf') format('truetype');
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot');
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf') format('truetype');
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin_cyrillic-500.eot');
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-500.ttf') format('truetype');
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-latin_cyrillic-600.eot');
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-600.ttf') format('truetype');
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin_cyrillic-700.eot');
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/montserrat-v25-latin_cyrillic-700.ttf') format('truetype');
}
/* Times New Roman */
@font-face {
  font-family: 'Times New Roman';
  src: url('../fonts/TimesNewRomanMTStd.eot');
  src: local('Times New Roman MT Std Regular'), local('TimesNewRomanMTStd'),
    url('../fonts/TimesNewRomanMTStd.woff2') format('woff2'),
    url('../fonts/TimesNewRomanMTStd.woff') format('woff'),
    url('../fonts/TimesNewRomanMTStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Times New Roman';
  src: url('../fonts/TimesNewRomanMTStd-Bold.eot');
  src: local('../fonts/Times New Roman MT Std Bold'),
    local('TimesNewRomanMTStd-Bold'),
    url('../fonts/TimesNewRomanMTStd-Bold.woff2') format('woff2'),
    url('../fonts/TimesNewRomanMTStd-Bold.woff') format('woff'),
    url('../fonts/TimesNewRomanMTStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Film P3 */
@font-face {
  font-family: 'Film P3';
  src: url('../fonts/FilmP3Bold.eot');
  src: local('Film P3 Bold'), local('FilmP3Bold'),
    url('../fonts/FilmP3Bold.woff2') format('woff2'),
    url('../fonts/FilmP3Bold.woff') format('woff'),
    url('../fonts/FilmP3Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
li {
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .container-header {
    width: 414px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    background: #0e0c07;
    display: flex;
    flex-direction: row;
  }
  .logo {
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 0;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .nav {
    display: flex;
  }
  .nav__item-restaurant {
    padding-top: 28px;
    padding-left: 47px;
    padding-bottom: 16px;
  }
  .nav__link-restaurant {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .icon-phone-restaurant {
    fill: rgb(243, 198, 83);
    width: 12px;
    height: 20px;
    visibility: visible;
    position: relative;
    top: -35px;
    right: -139px;
  }
  .nav__link-restaurant-phone {
    display: none;
  }
  .nav__item-hotel {
    padding-top: 28px;
    padding-left: 50px;
    padding-bottom: 16px;
  }
  .nav__link-hotel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .icon-phone-hotel1 {
    fill: rgb(243, 198, 83);
    width: 12px;
    height: 20px;
    visibility: visible;
    position: relative;
    top: -35px;
    right: -117px;
  }
  .icon-phone-hotel2 {
    visibility: hidden;
  }
  .nav__link-hotel-phone {
    display: none;
  }
  .header__social-net {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container-header {
    width: 1024px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    background: #0e0c07;
    display: flex;
    flex-direction: row;
  }
  .logo {
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 47px;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .nav {
    display: flex;
  }
  .nav__list-restaurant {
    display: flex;
    flex-direction: row;
  }
  .nav__item-restaurant {
    padding-top: 36px;
    padding-left: 82px;
    padding-bottom: 36px;
  }
  .nav__link-restaurant {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .icon-phone-restaurant {
    fill: rgb(243, 198, 83);
    width: 12px;
    height: 20px;
    visibility: visible;
    position: relative;
    top: 0;
    right: -49px;
  }
  .nav__link-restaurant-phone {
    padding-right: 8px;
    justify-content: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    left: 35px;
    width: 144px;
    height: 40px;
  }
  .nav__item-hotel {
    padding-top: 36px;
    padding-left: 80px;
    padding-bottom: 36px;
  }
  .nav__link-hotel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .nav__link-hotel-phone {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .icon-phone-hotel1 {
    fill: rgb(243, 198, 83);
    width: 12px;
    height: 20px;
    visibility: visible;
    position: relative;
    top: 0;
    right: 129px;
  }
  .icon-phone-hotel2 {
    display: none;
  }
  .header__social-net {
    display: none;
  }
  .nav__list-phone2 {
    padding-right: 8px;
    justify-content: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
    top: -66px;
    right: -181px;
    width: 264px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container-header {
    width: 1280px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    background: #0e0c07;
    display: flex;
    flex-direction: row;
  }
  .logo {
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 85px;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .nav {
    display: flex;
  }
  .nav__list-restaurant {
    display: flex;
    flex-direction: row;
  }
  .nav__item-restaurant {
    padding-top: 36px;
    padding-left: 91px;
    padding-bottom: 36px;
  }
  .nav__link-restaurant {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .icon-phone-restaurant {
    fill: rgb(243, 198, 83);
    width: 12px;
    height: 20px;
    visibility: visible;
    position: relative;
    top: 0;
    right: -49px;
  }
  .nav__link-restaurant-phone {
    padding-right: 8px;
    justify-content: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    left: 30px;
    width: 144px;
    height: 40px;
  }
  .nav__item-hotel {
    padding-top: 36px;
    padding-left: 100px;
    padding-bottom: 36px;
  }
  .nav__link-hotel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(243, 198, 83);
    text-decoration: none;
  }
  .nav__link-hotel-phone {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .icon-phone-hotel1 {
    fill: rgb(243, 198, 83);
    width: 12px;
    height: 20px;
    visibility: visible;
    position: relative;
    top: 0;
    right: 129px;
  }
  .icon-phone-hotel2 {
    display: none;
  }
  .nav__list-phone2 {
    padding-right: 8px;
    justify-content: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
    top: -66px;
    right: -201px;
    width: 264px;
    height: 40px;
  }
  .header__social-net {
    display: flex;
    flex-direction: row;
  }
  .icon-instagram {
    position: relative;
    top: 40px;
    right: -260px;
    width: 20px;
    height: 20px;
    fill: rgb(243, 198, 83);
    cursor: pointer;
  }
  .icon-facebook {
    position: relative;
    top: 40px;
    right: -260px;
    width: 20px;
    height: 20px;
    fill: rgb(243, 198, 83);
    margin-left: 23px;
    cursor: pointer;
  }
  .icon-telegram-plane {
    position: relative;
    top: 40px;
    right: -280px;
    width: 20px;
    height: 20px;
    fill: rgb(243, 198, 83);
    cursor: pointer;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) and (max-width: 1023px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.btn {
  display: block;
  width: 240px;
  padding: 15px 24px;
  color: rgb(243, 198, 83);
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: 0.02em;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}

body {
  font-family: 'Montserrat', 'Times New Roman', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} /*# sourceMappingURL=index.css.map */
