$primary-text-color: rgb(122, 122, 122); // text primary
$primary-dark-text: rgb(95, 95, 95); //restaurant text
$black-color: rgba(0, 0, 0, 1);
$btn-bgc: rgba(0, 0, 0, 0.4); //buttons background
$img-shadow: rgba(0, 0, 0, 0.25); //images shadow
$white-color: rgba(255, 255, 255, 1);
$accent-color: rgb(243, 198, 83); //yellow color accent
$accent-transparent-color: rgba(243, 198, 83, 0.7); //transparent yellow
$brown-color: rgba(199, 144, 2, 1); //simple brown color
$logo-color: rgb(73, 72, 72); //page logo color
$grey-font: rgb(130, 130, 130); // grey logo
$address-text-color: rgba(229, 229, 229, 1); //address text
$subtitle-color: rgba(180, 180, 180, 1);
$gradient-color: rgba(0, 0, 0, 0.65);

$ligh-grey: rgba(186, 186, 186, 1); //light grey text
$grey-lines: rgba(186, 186, 186, 0.4); // vertical lines
$light-lines: rgba(122, 122, 122, 0.4); //footer vertical lines

//fons backgrounds
$fon-lemon: rgba(255, 253, 238, 1); //section background
$fon-dark-lemon: rgba(240, 236, 214, 1); //section background
$footer-bgc: rgba(14, 12, 7, 1); //footer bacjground
$img-background: rgba(218, 218, 218, 1); //images background

//icons
$arrow-grey: rgb(128, 128, 128); //arrow background
$close-icon: rgba(217, 217, 217, 1); //close icon

//animation
$animation: cubic-bezier(0.4, 0, 0.2, 1);
