<section class="about-kitchen">
    <div class="container">
        <h1 class="visually-hidden">About our kitchen</h1>
        <h2 class="about-kitchen__slogan">Amet minim mollit non</h2>
        <h3 class="about-kitchen__title">Mimiho</h3>
        <p class="about-kitchen__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
            Velit officia consequat duis enim velit mollit. 
            Exercitation veniam consequat sunt nostrud amet.
        </p>
        <img class="about-kitchen__img"
        srcset="./images/mobile/restaurant/mobile-restaurant-pic-1@1x.jpg 1x,
        ./images/mobile/restaurant/mobile-restaurant-pic-1@2x.jpg 2x"
        src="./images/mobile/restaurant/mobile-restaurant-pic-1@1x.jpg" 
        alt="Повар з пательньою в руках"
        width="244px">
        <div class="about-kitchen__box">
            <img class="about-kitchen__image"
            srcset="./images/mobile/restaurant/mobile-restaurant-pic-2@1x.jpg 1x,
            ./images/mobile/restaurant/mobile-restaurant-pic-2@2x.jpg 2x"
            src="./images/mobile/restaurant/mobile-restaurant-pic-2@1x.jpg" 
            alt="Шматок свіжого м'яса на кухонному столі"
            width="200px">
            <p class="about-kitchen__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                Velit officia consequat duis enim velit mollit. 
                Exercitation veniam consequat sunt nostrud amet.
            </p>                
        </div>
        <img class="about-kitchen__swiper"
        src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg" 
        alt="Повар посипає тісто мукою"
        width="245px">
        <img class="about-kitchen__swiper"
        src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg" 
        alt="Повар посипає тісто мукою"
        width="245px">
        <button class="about-kitchen__btn" type="button">
            <svg width="32" height="32">
                <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button class="about-kitchen__btn" type="button">
            <svg width="32" height="32">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
        
    </div>
</section>