<section class="about-kitchen">
  <div class="container">
    <div class="about-kitchen__wrap">
      <h1 class="visually-hidden">About our kitchen</h1>
      <h2 class="about-kitchen__slogan">Amet minim mollit non</h2>
      <h3 class="about-kitchen__title">Mimiho</h3>
      <p class="about-kitchen__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/mobile/restaurant/mobile-restaurant-pic-1@1x.jpg 1x,
            ./images/mobile/restaurant/mobile-restaurant-pic-1@2x.jpg 2x
          "
          src="./images/mobile/restaurant/mobile-restaurant-pic-1@1x.jpg"
          width="244px"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/tablet/restaurant/tablet-restaurant-pic-1@1x.jpg 1x,
            ./images/tablet/restaurant/tablet-restaurant-pic-1@2x.jpg 2x
          "
          src="./images/tablet/restaurant/tablet-restaurant-pic-1@1x.jpg"
          width="400px"
          media="(max-width: 1279px)"
        />
        <img
          srcset="
            ./images/desktop/restaurant/desktop-restaurant-pic-1@1x.jpg 1x,
            ./images/desktop/restaurant/desktop-restaurant-pic-1@2x.jpg 2x
          "
          src="./images/desktop/restaurant/desktop-restaurant-pic-1@1x.jpg"
          alt="Повар з пательньою в руках"
          class="about-kitchen__img"
          width="460px"
        />
      </picture>
      <div class="about-kitchen__box">
        <picture class="about-kitchen__image">
          <source
            srcset="
              ./images/mobile/restaurant/mobile-restaurant-pic-2@1x.jpg 1x,
              ./images/mobile/restaurant/mobile-restaurant-pic-2@2x.jpg 2x
            "
            src="./images/mobile/restaurant/mobile-restaurant-pic-2@1x.jpg"
            width="200px"
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/tablet/restaurant/tablet-restaurant-pic-2@1x.jpg 1x,
              ./images/tablet/restaurant/tablet-restaurant-pic-2@2x.jpg 2x
            "
            src="./images/tablet/restaurant/tablet-restaurant-pic-2@1x.jpg"
            width="350px"
            media="(max-width: 1279px)"
          />
          <img
            srcset="
              ./images/desktop/restaurant/desktop-restaurant-pic-2@1x.jpg 1x,
              ./images/desktop/restaurant/desktop-restaurant-pic-2@2x.jpg 2x
            "
            src="./images/desktop/restaurant/desktop-restaurant-pic-2@1x.jpg"
            alt="Шматок свіжого м'яса на кухонному столі"
            width="460px"
          />
        </picture>
        <p class="about-kitchen__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <!-- Swiper -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@1x.jpg 1x,
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@2x.jpg 2x
                "
                src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@1x.jpg"
                width="245px"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@1x.jpg 1x,
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@2x.jpg 2x
                "
                src="./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@1x.jpg"
                width="194px"
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@1x.jpg 1x,
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@2x.jpg 2x
                "
                src="./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@1x.jpg"
                alt="Повар посипає тісто мукою"
                width="245px"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg 1x,
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@2x.jpg 2x
                "
                src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg"
                width="245px"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@x1.jpg 1x,
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@2x.jpg 2x
                "
                src="./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@x1.jpg"
                width="194px"
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@1x.jpg 1x,
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@2x.jpg 2x
                "
                src="./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@1x.jpg"
                alt="Повар посипає тісто мукою"
                width="245px"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@1x.jpg 1x,
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@2x.jpg 2x
                "
                src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@1x.jpg"
                width="245px"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@1x.jpg 1x,
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@2x.jpg 2x
                "
                src="./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@1x.jpg"
                width="194px"
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@1x.jpg 1x,
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@2x.jpg 2x
                "
                src="./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@1x.jpg"
                alt="Повар посипає тісто мукою"
                width="245px"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg 1x,
                  ./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@2x.jpg 2x
                "
                src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg"
                width="245px"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@x1.jpg 1x,
                  ./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@2x.jpg 2x
                "
                src="./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@x1.jpg"
                width="194px"
                media="(max-width: 1279px)"
              />
              <img
                srcset="
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@1x.jpg 1x,
                  ./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@2x.jpg 2x
                "
                src="./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@1x.jpg"
                alt="Повар посипає тісто мукою"
                width="245px"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-buttons-wrap">
          <div class="swiper-button-prev">
            <svg width="32" height="32" aria-label="Кнопка попереднє фото">
              <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg width="32" height="32" aria-label="Кнопка наступне фото">
              <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>

      <!-- Swiper JS -->
      <script src="./js/swiper-bundle.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper('.mySwiper', {
          breakpoints: {
            300: {
              slidesPerView: 1.315,
              spaceBetween: 25,
            },
            // when window width is >= 1024px
            1024: {
              slidesPerView: 2,
              spaceBetween: 40,
            },
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          autoplay: {
            delay: 5000,
          },
          autoHeight: true,
        });
      </script>
      <!-- <div class="about-kitchen__wrapper">
                <picture class="about-kitchen__swiper">
                    <source 
                    srcset="./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg 1x,
                    ./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@2x.jpg 2x"
                    src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-1@1x.jpg"
                    width="245px" 
                    media="(max-width: 1023px)">
                    <source
                    srcset="./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@x1.jpg 1x,
                    ./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@2x.jpg 2x"
                    src="./images/tablet/restaurant/tablet-restaurant-carusel-pic-1@x1.jpg"
                    width="194px"
                    media="(max-width: 1279px)">
                    <img 
                    srcset="./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@1x.jpg 1x,
                    ./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@2x.jpg 2x"
                    src="./images/desktop/restaurant/desktop-restaurant-carusel-pic-1@1x.jpg" 
                    alt="Повар посипає тісто мукою"
                    width="245px">
                </picture>
                <picture class="about-kitchen__swiper">
                    <source 
                    srcset="./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@1x.jpg 1x,
                    ./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@2x.jpg 2x"
                    src="./images/mobile/restaurant/mobile-restaurant-carusel-pic-2@1x.jpg"
                    width="245px" 
                    media="(max-width: 1023px)">
                    <source
                    srcset="./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@1x.jpg 1x,
                    ./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@2x.jpg 2x"
                    src="./images/tablet/restaurant/tablet-restaurant-carusel-pic-2@1x.jpg"
                    width="194px"
                    media="(max-width: 1279px)">
                    <img 
                    srcset="./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@1x.jpg 1x,
                    ./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@2x.jpg 2x"
                    src="./images/desktop/restaurant/desktop-restaurant-carusel-pic-2@1x.jpg"
                    alt="Повар посипає тісто мукою"
                    width="245px">
                </picture>
            </div>
           
            <div class="about-kitchen__tumb">
                <button class="about-kitchen__btn" type="button">
                <svg width="32" height="32">
                    <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button class="about-kitchen__btn" type="button">
                <svg width="32" height="32">
                    <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>         -->
    </div>
    <span class="background-line background-line--line1"></span>
    <span class="background-line background-line--line2"></span>
    <span class="background-line background-line--line3"></span>
  </div>
</section>
