<section class="our-hotel">
    <div class="container">
        <h2 class="visually-hidden">About our hotel</h2>
            <div class="our-hotel__title">
        <h2 class="our-hotel__subtitle">Amet minim mollit non</h2>
        <h3 class="our-hotel__logo-title" lang="en">MIMIHO</h3>
            <p class="our-hotel__modern-studio-text">Amet minim mollit non deserunt ullamco est
                sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
            </p>
            </div>
            <picture>
                <source srcset="/src/images/desktop/homepage/desktop-homepage-pic-3@1x.jpg 1x, /src/images/desktop/homepage/desktop-homepage-pic-3@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/src/images/tablet/homepage/tablet-homepage-pic-3@1x.jpg 1x, /src/images/tablet/homepage/tablet-homepage-pic-3@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="/src/images/mobile/homepage/mobile-homepage-pic-3@1x.jpg 1x, /src/images/mobile/homepage/mobile-homepage-pic-3@2x.jpg 2x"
                    media="(max-width: 1023px)" />
            <img class="our-hotel__modern-studio-bgc" 
            src="/src/images/mobile/homepage/mobile-homepage-pic-3@1x.jpg"
            alt="modern-studio-apartment-design-with-bedroom-living-space" 
            width="244"
            />
            </picture>
            <div class="our-hotel__holl">
            <p class="our-hotel__holl-text">Amet minim mollit non deserunt ullamco est
                    sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
            </p>
            <picture>
                <source srcset="/src/images/desktop/homepage/desktop-homepage-pic-4@1x.jpg 1x, /src/images/desktop/homepage/desktop-homepage-pic-4@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/src/images/tablet/homepage/tablet-homepage-pic-4@1x.jpg 1x, /src/images/tablet/homepage/tablet-homepage-pic-4@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="/src/images/mobile/homepage/mobile-homepage-pic-4@1x.jpg 1x, /src/images/mobile/homepage/mobile-homepage-pic-4@2x.jpg 2x"
                    media="(max-width: 1023px)" />
            <img class="our-hotel__holl-bgc" 
            src="/src/images/mobile/homepage/mobile-homepage-pic-4@1x.jpg"
            alt="holl of hotel" 
            width="200"
            />
            </picture>
            </div>
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/tablet/homepage/tablet-homepage-carusel-3-pic-2@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-carusel-3-pic-2@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1023px)" />
                        <source
                            srcset="./images/tablet/homepage/tablet-homepage-carusel-3-pic-2@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-carusel-3-pic-2@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1279px)" />
                        <source
                            srcset="./images/desktop/homepage/desktop-homepage-carusel-3-pic-2@1x.jpg 1x, ./images/desktop/homepage/desktop-homepage-carusel-3-pic-2@2x.jpg 2x"
                            type="image/jpeg" media="(min-width: 1280px)" />
                        <img srcset="./images/tablet/homepage/tablet-homepage-carusel-3-pic-2@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-carusel-3-pic-2@2x.jpg 2x"
                            src="./images/tablet/homepage/tablet-homepage-carusel-3-pic-2@1x.jpg"
                            alt="room service">
                    </picture>
                </div>
                <div class=" swiper-slide">
                    <picture>
                        <source
                            srcset="./images/mobile/homepage/mobile-homepage-carusel-3-pic-1@1x.jpg 1x, ./images/mobile/homepage/mobile-homepage-carusel-3-pic-1@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1023px)" />
                        <source
                            srcset="./images/tablet/homepage/tablet-homepage-carusel-3-pic-1@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-carusel-3-pic-1@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1279px)" />
                        <source
                            srcset="./images/desktop/homepage/desktop-homepage-carusel-3-pic-1@1x.jpg 1x, ./images/desktop/homepage/desktop-homepage-carusel-3-pic-1@2x.jpg 2x"
                            type="image/jpeg" media="(min-width: 1280px)" />
                        <img srcset="./images/tablet/homepage/tablet-homepage-carusel-3-pic-1@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-carusel-3-pic-1@2x.jpg 2x"
                            src="./images/tablet/homepage/tablet-homepage-carusel-3-pic-1@1x.jpg"
                            alt="hotel registration">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/mobile/homepage/mobile-homepage-carusel-4-pic-1@1x.jpg 1x, ./images/mobile/homepage/mobile-homepage-carusel-4-pic-1@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1023px)" />
                        <source
                            srcset="./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@2x.jpg 1x, ./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1279px)" />
                        <source
                            srcset="./images/desktop/homepage/desktop-homepage-carusel-4-pic-1@1x.jpg 1x, ./images/desktop/homepage/desktop-homepage-carusel-4-pic-1@2x.jpg 2x"
                            type="image/jpeg" media="(min-width: 1280px)" />
                        <img srcset="./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@2x.jpg 1x, ./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@2x.jpg 2x"
                            src="./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@2x.jpg"
                            alt="room interior">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/mobile/sliders-photo/mobile-slider-pic-7@1x.jpg 1x, ./images/mobile/sliders-photo/mobile-slider-pic-7@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1023px)" />
                        <source
                            srcset="./images/tablet/sliders-photo/tablet-slider-pic-8@1x.jpg 1x, ./images/tablet/sliders-photo/tablet-slider-pic-8@2x.jpg 2x"
                            type="image/jpeg" media="(max-width: 1279px)" />
                        <source
                            srcset="./images/desktop/sliders-photo/desktop-slider-pic-8@x1.jpg 1x, ./images/desktop/sliders-photo/desktop-slider-pic-8@2x.jpg 2x"
                            type="image/jpeg" media="(min-width: 1280px)" />
                        <img srcset="./images/tablet/sliders-photo/tablet-slider-pic-8@1x.jpg 1x, ./images/desktop/sliders-photo/desktop-slider-pic-8@2x.jpg 2x"
                            src="./images/tablet/sliders-photo/tablet-slider-pic-8@1x.jpg"
                            alt="restaurant interior">
                    </picture>
                </div>
            </div>
            <div class="swiper-buttons-wrap">
                <div class="swiper-button-prev">
                    <svg width="32" height="32" aria-label="Кнопка попереднє фото" class="swiper-button-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg width="32" height="32" aria-label="Кнопка наступне фото" class="swiper-button-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Swiper JS -->
        <script src="./js/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                breakpoints: {
                    300: {
                        slidesPerView: 1.315,
                        spaceBetween: 25
                    },
                    // when window width is >= 1024px
                    1024: {
                        slidesPerView: 2,
                        spaceBetween: 40
                    },

                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                autoplay: {
                    delay: 5000,
                },
                autoHeight: true,
            });
        </script>
    </div>
</section>
