<section class="our-hotel">
    <div class="container">
    <div class="lines">
        <div class="lines-position">
        <div class="our-hotel__line-l"></div>
        <div class="our-hotel__line-c"></div>
        <div class="our-hotel__line-r"></div>
        </div>
        <h2 class="visually-hidden">About our hotel</h2>
            <div class="our-hotel__title">
        <h2 class="our-hotel__subtitle">Amet minim mollit non</h2>
        <h3 class="our-hotel__logo-title" lang="en">MIMIHO</h3>
            <p class="our-hotel__modern-studio-text">Amet minim mollit non deserunt ullamco est
                sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
            </p>
            </div>
            <picture>
                <source srcset="/src/images/desktop/homepage/desktop-homepage-pic-3@1x.jpg 1x, /src/images/desktop/homepage/desktop-homepage-pic-3@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/src/images/tablet/homepage/tablet-homepage-pic-3@1x.jpg 1x, /src/images/tablet/homepage/tablet-homepage-pic-3@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="/src/images/mobile/homepage/mobile-homepage-pic-3@1x.jpg 1x, /src/images/mobile/homepage/mobile-homepage-pic-3@2x.jpg 2x"
                    media="(max-width: 1023px)" />
            <img class="our-hotel__modern-studio-bgc" 
            src="/src/images/mobile/homepage/mobile-homepage-pic-3@1x.jpg"
            alt="modern-studio-apartment-design-with-bedroom-living-space" 
            width="244"
            />
            </picture>
            <div class="holl">
            <p class="our-hotel__holl-text">Amet minim mollit non deserunt ullamco est
                    sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
            </p>
            </div>
            <picture>
                <source srcset="/src/images/desktop/homepage/desktop-homepage-pic-4@1x.jpg 1x, /src/images/desktop/homepage/desktop-homepage-pic-4@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/src/images/tablet/homepage/tablet-homepage-pic-4@1x.jpg 1x, /src/images/tablet/homepage/tablet-homepage-pic-4@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="/src/images/mobile/homepage/mobile-homepage-pic-4@1x.jpg 1x, /src/images/mobile/homepage/mobile-homepage-pic-4@2x.jpg 2x"
                    media="(max-width: 1023px)" />
            <img class="our-hotel__holl-bgc" 
            src="/src/images/mobile/homepage/mobile-homepage-pic-4@1x.jpg"
            alt="holl of hotel" 
            width="200"
            />
            </picture>
        <div class="our-hotel__swiper">
            <div class="our-hotel__swiper-wrapper">
                <div class="our-hotel__swiper-slide">
                    <picture>
                        <source srcset="/src/images/desktop/homepage/desktop-homepage-carusel-3-pic-2@1x.jpg 1x, /src/images/desktop/homepage/desktop-homepage-carusel-3-pic-2@2x.jpg 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/src/images/tablet/homepage/tablet-homepage-carusel-3-pic-2@1x.jpg 1x, /src/images/tablet/homepage/tablet-homepage-carusel-3-pic-2@2x.jpg 2x"
                            media="(min-width: 1024px)" />
                        <source srcset="/src/images/mobile/homepage/mobile-homepage-carusel-3-pic-2@1x.jpg 1x, /src/images/mobile/homepage/mobile-homepage-carusel-3-pic-2@2x.jpg 2x"
                            media="(max-width: 1023px)" />
                    <img class="our-hotel__swiper-img-t" src="/src/images/mobile/homepage/mobile-homepage-carusel-3-pic-2@1x.jpg"
                alt="towel"
                width="167" />
                    </picture>
                </div>
                <div class="our-hotel__swiper-slide">
                    <picture>
                        <source srcset="/src/images/desktop/homepage/desktop-homepage-carusel-3-pic-1@1x.jpg 1x, /src/images/desktop/homepage/desktop-homepage-carusel-3-pic-1@2x.jpg 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/src/images/tablet/homepage/tablet-homepage-carusel-3-pic-1@1x.jpg 1x, /src/images/tablet/homepage/tablet-homepage-carusel-3-pic-1@2x.jpg 2x"
                            media="(min-width: 1024px)" />
                        <source srcset="/src/images/mobile/homepage/mobile-homepage-carusel-3-pic-1@1x.jpg 1x, /src/images/mobile/homepage/mobile-homepage-carusel-3-pic-1@2x.jpg 2x"
                            media="(max-width: 1023px)" />
                    <img class="our-hotel__swiper-img-m" src="/src/images/mobile/homepage/mobile-homepage-carusel-3-pic-1@1x.jpg"
                    alt="hotel registration" 
                    width="245"/>
                    </picture>
                </div>
             </div>
             <div class="our-hotel__button-vector">
            <div class="our-hotel__swiper-button-prev">
                <button type="button" class="our-hotel__vector-btn">
                <svg class="our-hotel__icon-vector" width="29.91" height="16.83">
                    <use href="/src/images/symbol-defs.svg#icon-Vector-left"></use>
                  </svg>
                </button>
            </div>
            <div class="our-hotel__swiper-button-next">
                <button type="button" class="our-hotel__vector-btn">
                <svg class="our-hotel__icon-vector" width="29.91" height="16.83">
                <use href="/src/images/symbol-defs.svg#icon-Vector-right"></use>
                  </svg>
                </button>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>