<section class="our-hotel">
    <div class="container">
    <div class="lines">
        <div class="lines-position">
        <div class="our-hotel__line"></div>
        <div class="our-hotel__line"></div>
    </div>
        <h2 class="visually-hidden">About our hotel</h2>
        <h3 class="our-hotel__subtitle">Amet minim mollit non</h3>
        <h3 class="our-hotel__logo-title" lang="en">MIMINO</h3>
            <div class="modern-studio">
            <p class="our-hotel__modern-studio-text">Amet minim mollit non deserunt ullamco est
                sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation
                veniam consequat sunt nostrud amet.
            </p>
            <img class="our-hotel__modern-studio-bgc" 
            src="/src/images/mobile/homepage/mobile-homepage-pic-3@1x.jpg"
            alt="modern-studio-apartment-design-with-bedroom-living-space" 
            width="244"
            />
            </div>
            <div class="holl">
            <p class="our-hotel__holl-text">Amet minim mollit non deserunt ullamco est
                    sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
            </p>
            </div>
            <img class="our-hotel__holl-bgc" 
            src="/src/images/mobile/homepage/mobile-homepage-pic-4@1x.jpg"
            alt="holl of hotel" 
            width="200"
            />
            
            <div class="slides">
                <img src="/src/images/tablet/homepage/tablet-homepage-carusel-3-pic-1@1x.jpg"
                alt="towel"
                width="167" />

                <img src="/src/images/mobile/homepage/mobile-homepage-carusel-3-pic-1@1x.jpg"
                alt="reception" 
                width="245"/>
            </div>
    </div>
    </div>
</section>