<section class="about-our-restaurant">
    <div class="container">
        <h2 class="visually-hidden">About our restaurant</h2>
        <div class="about-our-restaurant__about-content">
            <p class="about-our-restaurant__subtitle">Amet minim mollit non</p>
            <h3 class="about-our-restaurant__title">mimiho</h3>
            <p class="about-our-restaurant__text1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet
                sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <picture>
            <source
                srcset="./images/mobile/homepage/mobile-homepage-pic-1@1x.jpg 1x, ./images/mobile/homepage/mobile-homepage-pic-1@2x.jpg 2x"
                type="image/jpeg" src="./images/mobile/homepage/mobile-homepage-pic-1@1x.jpg" width="244px"
                media="(max-width: 1023px)" />
            <source
                srcset="./images/desktop/homepage/desktop-homepage-pic-1@1x.jpg 1x, ./images/desktop/homepage/desktop-homepage-pic-1@2x.jpg 2x"
                type="image/jpeg" src="./images/desktop/homepage/desktop-homepage-pic-1@1x.jpg" width="460px"
                media="(min-width: 1280px)" />
            <source
                srcset="./images/tablet/homepage/tablet-homepage-pic-1@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-pic-1@2x.jpg 2x"
                type="image/jpeg" src="./images/tablet/homepage/tablet-homepage-pic-1@1x.jpg" width="400px"
                media="(min-width: 1024px)" />
            <img srcset="./images/tablet/homepage/tablet-homepage-pic-1@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-pic-1@2x.jpg 2x"
                src="./images/tablet/homepage/tablet-homepage-pic-1@1x.jpg" alt="restaurant interior1"
                class="about-our-restaurant__image1">
        </picture>
        <div class="about-our-restaurant__block2">
            <picture class="about-our-restaurant__picture">
                <source
                    srcset="./images/mobile/homepage/mobile-homepage-pic-2@1x.jpg 1x, ./images/mobile/homepage/mobile-homepage-pic-2@2x.jpg 2x"
                    type="image/jpeg" src="./images/mobile/homepage/mobile-homepage-pic-2@1x.jpg" width="244px"
                    media="(max-width: 1023px)" />
                <source
                    srcset="./images/desktop/homepage/desktop-homepage-pic-2@1x.jpg 1x, ./images/desktop/homepage/desktop-homepage-pic-2@2x.jpg 2x"
                    type="image/jpeg" src="./images/desktop/homepage/desktop-homepage-pic-2@1x.jpg" width="460px"
                    media="(min-width: 1280px)" />
                <source
                    srcset="./images/tablet/homepage/tablet-homepage-pic-2@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-pic-2@2x.jpg 2x"
                    type="image/jpeg" src="./images/tablet/homepage/tablet-homepage-pic-2@1x.jpg" width="400px"
                    media="(min-width: 1024px)" />
                <img srcset="./images/tablet/homepage/tablet-homepage-pic-2@1x.jpg 1x, ./images/tablet/homepage/tablet-homepage-pic-2@2x.jpg 2x"
                    src="./images/mobile/homepage/mobile-homepage-pic-2@1x.jpg" alt="restaurant interior2"
                    class="about-our-restaurant__image2">
            </picture>
            <p class="about-our-restaurant__text2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="slider">будущий слайдер</div>
        <div class="about-our-restaurant__background-line"></div>
        <div class="about-our-restaurant__background-line about-our-restaurant__background-line--line2"></div>
        <div class="about-our-restaurant__background-line about-our-restaurant__background-line--line3"></div>
    </div>
</section>