<section class="our-hotel">
    <div class="conteiner">
        <h2 class="visually-hidden">About our hotel</h2>
        <h3 class="subtitle">Amet minim mollit non</h3>
        <h4 class="title" lang="en">MIMINO</h4>
        <ul class="our-hotel__list">
            <li class="our-hotel__item">
                <p>Amet minim mollit non deserunt ullamco est 
                sit aliqua dolor do amet sint. Velit officia 
                consequat duis enim velit mollit. Exercitation 
                veniam consequat sunt nostrud amet.</p>
                <picture>
                    <source srcset="../images/desktop/homepage/desktop-homepage-pic-3@1x.jpg 1x, ../images/desktop/homepage/desktop-homepage-pic-3@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="../images/tablet/homepage/tablet-homepage-pic-3@1x.jpg 1x, ../images/tablet/homepage/tablet-homepage-pic-3@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="../images/mobile/homepage/mobile-homepage-pic-3@1x.jpg 1x, ../images/mobile/homepage/mobile-homepage-pic-3@2x.jpg 2x"
                    media="(max-width: 1023px)" />
              <img src="../images/modern-studio-apartment-design-with-bedroom-living-space 2 (1).jpg"
                alt="modern-studio-apartment-design-with-bedroom-living-space"
                width="387" />
                </picture>
            </li>
            <li class="our-hotel__item">
                <p>
                    Amet minim mollit non deserunt ullamco est
                    sit aliqua dolor do amet sint. Velit officia
                    consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.
                </p>
                <picture>
                    <source srcset="../images/desktop/homepage/desktop-homepage-pic-4@1x.jpg 1x, ../images/desktop/homepage/desktop-homepage-pic-4@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="../images/tablet/homepage/tablet-homepage-pic-4@1x.jpg 1x, ../images/tablet/homepage/tablet-homepage-pic-4@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="../images/mobile/homepage/mobile-homepage-pic-4@1x.jpg 1x, ../images/mobile/homepage/mobile-homepage-pic-4@2x.jpg 2x "
                    media="(max-width: 1023px)" />
              <img src="../images/hotel-638023_1920 1.jpg"
                alt="holl-of-hotel"
                width="398" />
                </picture>
            </li>
        </ul>
    </div>
</section>