<section class="contacts">
    <div class="wrapper">
        <div class="contacts__content">
            <h2 class="visually-hidden">Контакти</h2>
            <div class="contacts--left">
                <div class="contacts__title">
                    <p>Mimino</p>
                    <p>Ресторанно-готельний комплекс</p>
                </div>
                <div class="contacts__item">
                    <p>Ресторан</p>
                    <div>
                        <i>
                            <svg class="contact-icon"></svg>
                        </i>
                        <p>095 555 95 33</p>
                    </div>
                </div>
                <div class="contacts__item">
                    <p>Готель</p>
                        <i>
                            <svg class="contact-icon"></svg>
                        </i>
                        <span><p>066 849 10 89</p><p>067 275 85 40</p></span>
                </div>
                <div class="contacts__item">
                    <p class="visually-hidden">Адреса</p>
                        <i>
                            <svg class="location-icon"></svg>
                        </i>
                        <p>Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
                </div>
            </div>
            <div class="contacts--right">
                <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9233981195016!2d34.524357615666574!3d49.599193979367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1669909903606!5m2!1sru!2sua" width="384" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
            </div>
        </div>
    </div>
</section>