<section class="details-hotel">
  <div class="details-hotel__overlay">
    <div class="container details-hotel__container">
      <div class="details-hotel__info">
        <h2 class="details-hotel__title"><span lang="en">Mimiho</span></h2>
        <h3 class="details-hotel__subtitle">Готель</h3>
        <p class="details-hotel__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <ul class="hotel-details-btn__list">
        <li class="hotel-details-btn__item">
          <button 
          type="button" 
          class="hotel-details-btn btn"
          data-modal-room-open__mainpage-hotel>
            Забронювати номер
          </button>
        </li>
        <li class="hotel-details-btn__item">
          <button type="button" class="hotel-details-btn btn">
            <a href="/src/restaurantpage.html#menu" class="hotel-details-btn__link">Переглянути меню</a>
          </button>
        </li>
      </ul>
      <div class="swiper__container-hotel-details">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="
                    ./images/mobile/homepage/mobile-homepage-carusel-4-pic-1@1x.jpg 1x,
                    ./images/mobile/homepage/mobile-homepage-carusel-4-pic-1@2x.jpg 2x
                  " type="image/jpeg" media="(max-width:1023px)" />
                <source srcset="
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-1@1x.jpg 1x,
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-1@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1024px) and (max-width:1079px)" />
                <source srcset="
                    ./images/desktop/homepage/desktop-homepage-carusel-4-pic-1@1x.jpg,
                    ./images/desktop/homepage/desktop-homepage-carusel-4-pic-1@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1280px)" />
                <img src="./images/desktop/homepage/desktop-homepage-carusel-4-pic-1@1x.jpg" width="270" height="270"
                  alt="Смажене м'ясо" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@1x.jpg 1x,
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@2x.jpg 2x
                  " type="image/jpeg" media="(max-width:1023px)" />
                <source srcset="
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@1x.jpg 1x,
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-2@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1024px) and (max-width:1079px)" />
                <source srcset="
                    ./images/desktop/homepage/desktop-homepage-carusel-4-pic-2@1x.jpg,
                    ./images/desktop/homepage/desktop-homepage-carusel-4-pic-2@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1280px)" />
                <img src="./images/desktop/homepage/desktop-homepage-carusel-4-pic-2@1x.jpg" width="162" height="270"
                  alt="Хліб" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <!-- <source srcset="
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-3@1x.jpg 1x,
                    ./images/tablet/homepage/tablet-homepage-carusel-4-pic-3@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1024px) and (max-width:1079px)" />-->
                <source srcset="
                    ./images/desktop/homepage/desktop-homepage-carusel-4-pic-3@1x.jpg 1x,
                    ./images/desktop/homepage/desktop-homepage-carusel-4-pic-3@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1280px)" />
                <img src="./images/desktop/homepage/desktop-homepage-carusel-4-pic-3@1x.jpg" width="270" height="270"
                  alt="Салат" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="
                    ./images/mobile/sliders-photo/mobile-slider-pic-6@1x.jpg 1x,
                    ./images/mobile/sliders-photo/mobile-slider-pic-6@2x.jpg 2x
                  " type="image/jpeg" media="(max-width:1023px)" />
                <source srcset="
                    ./images/tablet/sliders-photo/tablet-slider-pic-6@1x.jpg 1x,
                    ./images/tablet/sliders-photo/tablet-slider-pic-6@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1024px) and (max-width:1079px)" />
                <source srcset="
                    ./images/desktop/sliders-photo/desktop-slider-pic-6@1x.jpg 1x,
                    ./images/desktop/sliders-photo/desktop-slider-pic-6@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1280px)" />
                <img src="./images/desktop/sliders-photo/desktop-slider-pic-6@1x.jpg" width="270" height="270"
                  alt="Чай" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="
                    ./images/mobile/sliders-photo/mobile-slider-pic-7@1x.jpg 1x,
                    ./images/mobile/sliders-photo/mobile-slider-pic-7@2x.jpg 2x
                  " type="image/jpeg" media="(max-width:1023px)" />
                <source srcset="
                    ./images/tablet/sliders-photo/tablet-slider-pic-7@1x.jpg 1x,
                    ./images/tablet/sliders-photo/tablet-slider-pic-7@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1024px) and (max-width:1079px)" />
                <source srcset="
                    ./images/desktop/sliders-photo/desktop-slider-pic-7@1x.jpg 1x,
                    ./images/desktop/sliders-photo/desktop-slider-pic-7@2x.jpg 2x
                  " type="image/jpeg" media="(min-width:1280px)" />
                <img src="./images/desktop/sliders-photo/desktop-slider-pic-7@1x.jpg" width="270" height="270"
                  alt="Устриці" />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-control">
          <button class="swiper__btn swiper-button-prev">
            <svg width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="swiper__btn swiper-button-next">
            <svg width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

<span class="background-line background-line--line1"></span>
    <span class="background-line background-line--line2"></span>
    <span class="background-line background-line--line3"></span>
    </div>
  </div>

  </div>
  </div>
  <!-- Swiper JS -->
  <script src="./js/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 0,
      breakpoints: {
        414: {
          slidesPerView: 1.315,
          spaceBetween: 25
        },
        // when window width is >= 1024px
        1024: {
          slidesPerView: 2,
          spaceBetween: 40
        },

      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      autoplay: {
        delay: 5000,
      },
      autoHeight: true,
    });
  </script>
</section>