<footer class="footer">
    <nav class="footer-navigation">
        <a href="#" class="footer-logo">Mimino</a>
        <ul class="site-nav">
            <li class="site-nav__item">
                <a href="#" class="site-nav__link">Головна</a>
            </li>
            <li class="site-nav__item">
                <a href="#" class="site-nav__link">Ресторан</a>
            </li>
            <li class="site-nav__item">
                <a href="#" class="site-nav__link">Готель</a>
            </li>
        </ul>
        <ul class="socials-list">
            <li class="socials-lict__item">
                <a href="#" class="social-list__link">Telegram</a>
            </li>
            <li class="socials-lict__item">
                <a href="#" class="social-list__link">Facebook</a>
            </li>
            <li class="socials-lict__item">
                <a href="#" class="social-list__link">Instagram</a>
            </li>
        </ul>
    </nav>
</footer>