<header class="page-header">
  <div class="container-header">
    <!-- Logo -->
    <a href="./hotelpage.html" lang="en" class="logo">mimiho</a>

    <div class="nav">
      <ul class="nav__list-restaurant">
        <li class="nav__item-restaurant">
          <a href="./restaurantpage.html" class="nav__link-restaurant"
            >Ресторан</a
          >
        </li>
        <li class="nav__list-phone1">
          <a href="./hotelpage.html" class="nav__link-restaurant-phone">
            095 555 95 33</a
          >
          <svg class="icon-phone-restaurant">
            <use
              href="./images/symbol-defs.svg#icon-phone-1"
              class="icon-phone-restaurant"
            ></use>
          </svg>
        </li>
      </ul>

      <ul class="nav__list-hotel">
        <li class="nav__item-hotel">
          <a href="./hotelpage.html" class="nav__link-hotel">Готель</a>
        </li>
        <li class="nav__list-phone2">
          <a href="./hotelpage.html" class="nav__link-hotel-phone">
            066 849 10 89</a
          >
          <svg class="icon-phone-hotel1">
            <use href="./images/symbol-defs.svg#icon-phone-1"></use>
          </svg>
          <a href="./hotelpage.html" class="nav__link-hotel-phone">
            067 275 85 40</a
          >
          <svg class="icon-phone-hotel2">
            <use href="./images/symbol-defs.svg#icon-phone-1"></use>
          </svg>
        </li>
      </ul>
    </div>

    <div>
      <ul class="header__social-net">
        <li>
          <a
            class="social-net__link"
            href="https://www.instagram.com/"
            target="_blank"
            ><svg class="icon-instagram">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-net__link"
            href="https://www.facebook.com/"
            target="_blank"
            ><svg class="icon-facebook">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-net__link"
            href="https://web.telegram.org/"
            target="_blank"
            ><svg class="icon-telegram-plane">
              <use href="./images/symbol-defs.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
