<header class="page-header">
  <div class="container header">
    <!-- Logo -->
    <a href="./hotelpage.html" lang="en" class="logo">mimino</a>

    <div class="nav">
      <ul class="nav__list-restaurant">
        <li class="nav__item-restaurant">
          <a href="./restaurantpage.html" class="nav__link-restaurant"
            >Ресторан</a
          >
        </li>
        <li class="nav__list-phone">
          <a href="./hotelpage.html" class="nav__link-restaurant-phone">
            <svg class="icon-phone">
              <use
                href="./images/symbol-defs.svg#icon-phone"
                class="icon-phone"
              ></use>
            </svg>
            095 555 95 33</a
          >
        </li>
      </ul>

      <ul class="nav__list-hotel">
        <li class="nav__item-hotel">
          <a href="./hotelpage.html" class="nav__link-hotel">Готель</a>
        </li>
        <li class="nav__list-phone">
          <a href="./hotelpage.html" class="nav__link-hotel-phone">
            <svg class="icon-phone">
              <use
                href="./images/symbol-defs.svg#icon-phone"
                class="icon-phone"
              ></use>
            </svg>
            >066 849 10 89</a
          >
          <a href="./hotelpage.html" class="nav__link-hotel-phone">
            <svg class="icon-phone">
              <use
                href="./images/symbol-defs.svg#icon-phone"
                class="icon-phone"
              ></use>
            </svg>
            >067 275 85 40</a
          >
        </li>
      </ul>
    </div>

    <div>
      <ul class="header__social-net">
        <li>
          <a class="social-net__link" href="https://www.instagram.com/">
            <svg class="icon-phone">
              <use
                href="./images/symbol-defs.svg#icon-instagram"
                class="icon-instagram"
              ></use>
            </svg>
            >Instagram</a
          >
        </li>
        <li>
          <a class="social-net__link" href="https://www.facebook.com/">
            <svg class="icon-phone">
              <use
                href="./images/symbol-defs.svg#icon-facebook"
                class="icon-facebook"
              ></use>
            </svg>
            >Facebook</a
          >
        </li>
        <li>
          <a class="social-net__link" href="https://web.telegram.org/">
            <svg class="icon-phone">
              <use
                href="./images/symbol-defs.svg#icon-telegram-plane"
                class="icon-telegram-plane"
              ></use>
            </svg>
            >Telegram</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
