<!-- main-header -->
<header class="header">
  <div class="container container__header">
    <a
      class="link logo logo--padding logo--inverse"
      href="./index.html"
      lang="en"
      >Mimiho</a
    >

    <!-- navigation -->

    <ul class="nav__list">
      <li class="nav__item">
        <a class="link nav__link" href="./restaurantpage.html">
          <span class="nav__content">Ресторан</span>
          <svg class="nav__svg nav__svg--hidden" width="24" height="24">
            <use
              class="nav__icon"
              href="./images/symbol-defs.svg#icon-phone"
            ></use>
          </svg>
        </a>
      </li>

      <li class="nav__item">
        <svg class="nav__svg" width="24" height="24">
          <use
            class="nav__icon"
            href="./images/symbol-defs.svg#icon-phone"
          ></use>
        </svg>
        <a class="link nav__link nav__link--inherit" href="tel:+380955559533">
          095 555 95 33
        </a>
      </li>

      <li class="nav__item">
        <a class="link nav__link" href="./hotelpage.html"
          ><span class="nav__content">Готель</span>
          <svg class="nav__svg nav__svg--hidden" width="24" height="24">
            <use
              class="nav__icon"
              href="./images/symbol-defs.svg#icon-phone"
            ></use>
          </svg>
        </a>
      </li>

      <li class="nav__item">
        <svg class="nav__svg" width="24" height="24">
          <use
            class="nav__icon"
            href="./images/symbol-defs.svg#icon-phone"
          ></use>
        </svg>
        <a class="link nav__link nav__link--inherit" href="tel:+380668491089">
          066 849 10 89
        </a>
        <a class="link nav__link nav__link--inherit" href="tel:+380672758540"
          >067 275 85 40</a
        >
      </li>
    </ul>

    <!-- social-icons -->

    <ul class="social header__social">
      <li class="social__item">
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.instagram.com/"
          class="link social__link"
        >
          <svg class="icon" width="24" height="24">
            <use
              class="nav__icon"
              href="./images/symbol-defs.svg#icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://uk-ua.facebook.com"
          class="link social__link"
        >
          <svg class="icon" width="24" height="24">
            <use
              class="nav__icon"
              href="./images/symbol-defs.svg#icon-facebook"
            ></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://web.telegram.org/k/"
          class="link social__link"
        >
          <svg class="icon" width="24" height="24">
            <use
              class="nav__icon"
              href="./images/symbol-defs.svg#icon-telegram-plane"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
