<section class="hero hero-room-page">
  <div class="container hero-room-page__container">
    <ul class="hero-room-page__list">
      <li class="hero-room-page__item">
        <div class="hero-room-page__slider slider">
          <h2 class="hero-room-page__title">
            ДВОМІСНИЙ НОМЕР
            <span class="hero-room-page__sub">люкс</span>
          </h2>
          <div class="text-container">
            <div class="about-container">
              <p class="hero-room-page__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
              <div class="social-block">
                <address class="social-block__title-box">
                  <span>
                    <svg width="24" height="24">
                      <use
                        href="/src/images/symbol-defs.svg#icon-location-pin"
                      ></use>
                    </svg>
                  </span>
                  <a
                    href="https://goo.gl/maps/bPxGBbEx7a43Xryj9"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    class="social-block__adress"
                  >
                    Україна, м. Полтава,<br />
                    вул. Маршала Бірюзова, 15
                  </a>
                </address>
                <ul class="social-block__list">
                  <li class="social-block__item">
                    <a
                      class="social-block__link"
                      href="##"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                    >
                      <svg width="24" height="24">
                        <use
                          href="/src/images/symbol-defs.svg#icon-instagram"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-block__item">
                    <a
                      class="social-block__link"
                      href="##"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                    >
                      <svg width="24" height="24">
                        <use
                          href="/src/images/symbol-defs.svg#icon-facebook"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-block__item">
                    <a
                      class="social-block__link"
                      href="##"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                    >
                      <svg width="24" height="23">
                        <use
                          href="/src/images/symbol-defs.svg#icon-telegram-plane"
                        ></use>
                      </svg>
                    </a>
                  </li>
                </ul>
                <a
                  href="##"
                  class="hero-room-page__button hero-room-page__buttom-mobile"
                  >Переглянути ціни</a
                >
              </div>
            </div>
            <a href="##" class="hero-room-page__button" data-modal-price-open__roompage>Переглянути ціни</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="hero-room-page__buttons-list">
      <li class="hero-room-page__button-next">
        <button class="button-next">
          <svg width="40" height="40">
            <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="hero-room-page__button-prev">
        <button class="button-prev">
          <svg width="40" height="40">
            <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
