<section class="hero hero-room-page">
  <div class="container hero-room-page__container">
    <ul class="hero-room-page__list">
      <li class="hero-room-page__item">
        <div class="hero-room-page__slider slider">
          <h2 class="hero-room-page__title">
            ДВОМІСНИЙ НОМЕР
            <span class="hero-room-page__sub">люкс</span>
          </h2>
          <div class="text-container">
            <div class="about-container">
              <p class="hero-room-page__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
              <div class="social-block">
                <div class="social-block__title-box">
                  <span>
                    <svg width="24" height="24">
                      <use
                        href="/src/images/symbol-defs.svg#icon-location-pin"
                      ></use>
                    </svg>
                  </span>
                  <p class="social-block__adress">
                    Україна, м. Полтава,<br />
                    вул. Маршала Бірюзова, 15
                  </p>
                </div>
                <ul class="social-block__list">
                  <li class="social-block__item">
                    <svg width="24" height="24">
                      <use
                        href="/src/images/symbol-defs.svg#icon-instagram"
                      ></use>
                    </svg>
                  </li>
                  <li class="social-block__item">
                    <svg width="24" height="24">
                      <use
                        href="/src/images/symbol-defs.svg#icon-facebook"
                      ></use>
                    </svg>
                  </li>
                  <li class="social-block__item">
                    <svg width="24" height="23">
                      <use
                        href="/src/images/symbol-defs.svg#icon-telegram-plane"
                      ></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <a href="##" class="hero-room-page__button">Переглянути ціни</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="hero-room-page__buttons-list">
      <li class="hero-room-page__button-next">
        <button class="button-next">
          <svg width="40" height="40">
            <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="hero-room-page__button-prev">
        <button class="button-prev">
          <svg width="40" height="40">
            <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
