<main>
  <section class="section hero">
    <div class="container">
      <div class="hotel-hero_address">
        <p>Україна, м. Полтава,</p>
        <p>вул. Маршала Бірюзова, 15</p>
      </div>
      <h1 class="hero__title">Mimino</h1>
      <h2>Готель</h2>
      <div>
        <button class="hero__button-room" type="button">
          Забронювати номер
        </button>
        <button class="hero__button-price" type="button">
          Переглянути ціни
        </button>
      </div>
      <div>
        <ul class="hero__net-list">
          <li>
            <a href="" class="hero__net-link">
              <svg class="hero__net-icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="hero__net-link">
              <svg class="hero__net-icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="hero__net-link">
              <svg class="hero__net-icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-telegram-plane"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
