<main>
  <section class="hotel-hero">
    <div class="container">
      <div class="hero__content">
        <h1 class="hero__title" lang="en">Mimiho</h1>
        <h2 class="hero__subtitle">Готель</h2>
        <div class="hero__menu">
          <address class="hotel-hero__address">
            <svg class="hotel-hero__pin-icon">
              <use href="./images/symbol-defs.svg#icon-location-pin"></use>
            </svg>
            <a
              href="https://goo.gl/maps/bPxGBbEx7a43Xryj9"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="hotel-hero__address-item"
              >Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15</a
            >
          </address>
          <address>
          <div class="hero__butons">
            <ul class="hero__list">
              <li class="hero__item">
                <button type="submit" class="btn btn__hotel btn--mobile" data-modal-room-open>
                  Забронювати номер
                </button>
              </li>
              <li class="hero__item">
                <button type="submit" class="btn btn__hotel btn--mobile" data-modal-price-open>
                  Переглянути ціни
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="hero__net-list">
        <li>
          <a href="https://www.instagram.com/" class="hero__net-link" target="_blank"
                        rel="noopener noreferrer nofollow">
            <svg class="hero__net-icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" class="hero__net-link" target="_blank"
                        rel="noopener noreferrer nofollow">
            <svg class="hero__net-icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://web.telegram.org/" class="hero__net-link" target="_blank"
                        rel="noopener noreferrer nofollow">
            <svg class="hero__net-icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
