<section class="main-hero">
  <div class="container">
    <div class="main-hero__wrapper">
      <h1 class="main-hero__title">Mimino</h1>
      <h2 class="main-hero__subtitle">Ресторанно-готельний комплекс</h2>
      <p class="main-hero__text">Смак життя 24/7</p>
      <div class="main-hero__nav">
        <address class="address">
          <svg class="address__icon">
            <use href="./images/symbol-defs.svg#icon-location-pin"></use>
          </svg>
          <a
            href="https://goo.gl/maps/bPxGBbEx7a43Xryj9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="address__location"
            >Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15</a
          >
        </address>
        <ul class="main-hero__list">
          <li class="main-hero__item">
            <button type="submit" class="btn btn--mobile">
              Забронювати столик
            </button>
          </li>
          <li class="main-hero__item">
            <button type="submit" class="btn btn--mobile">
              Забронювати номер
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
