<section class="main-hero">
  <div class="container">
    <h1 class="main-hero__title">Mimino</h1>
    <h2 class="main-hero__subtitle">Ресторанно-готельний комплекс</h2>
    <p class="main-hero__text">Смак життя 24/7</p>
    <address>
      <a
        href="https://goo.gl/maps/bPxGBbEx7a43Xryj9"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="main-hero__address"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
    </address>
    <ul>
      <li>
        <a href="" class="main-hero__button"> Забронювати столик </a>
      </li>
      <li>
        <a href="" class="main-hero__button"> Забронювати номер </a>
      </li>
    </ul>
    <!-- <ul class="social">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="social__link"
        >
          <svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="social__link"
        >
          <svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.telegram.org/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="social__link"
        >
          <svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-telegram-plane"></use>
          </svg>
        </a>
      </li>
    </ul> -->
  </div>
</section>
