<section class="main-hero">
  <div class="main-hero__wrapper">
    <div class="container">
      <div class="main-hero__content">
        <h1 class="main-hero__title" lang="en">Mimiho</h1>
        <h2 class="main-hero__subtitle">Ресторанно-готельний комплекс</h2>
        <p class="main-hero__text">Смак життя 24/7</p>

        <div class="main-hero__nav">
          <address class="address">
            <svg class="address__icon">
              <use href="./images/symbol-defs.svg#icon-location-pin"></use>
            </svg>
            <a
              href="https://goo.gl/maps/bPxGBbEx7a43Xryj9"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address__location"
              >Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15</a
            >
          </address>
          <ul class="main-hero__list">
            <li class="main-hero__item">
              <button type="submit" class="btn btn__hero" data-modal-table-open>
                Забронювати столик
              </button>
            </li>
            <li class="main-hero__item">
              <button type="submit" class="btn btn__hero" data-modal-room-open>
                Забронювати номер
              </button>
            </li>
          </ul>
        </div>
      </div>
      <ul class="social-net">
        <li>
          <a
            class="social-net__link"
            href="https://www.instagram.com/"
            target="_blank"
            ><svg class="social-net__icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-net__link"
            href="https://www.facebook.com/"
            target="_blank"
            ><svg class="social-net__icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-net__link"
            href="https://web.telegram.org/"
            target="_blank"
            ><svg class="social-net__icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-telegram-plane"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
