<section class="container">
  <p class="room__subtitle">Amet minim mollit non</p>
  <h2 class="houtel__title">MIMIHO</h2>

  <h3 class="title_three">ДВОМІСНИЙ НОМЕР</h3>
  <p class="about">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul>
    <li>
      <img class="people-list__img" src="#" alt="Номер готеля" width="450" />
    </li>
    <li>
      <img class="people-list__img" src="#" alt="Ванна кімната" width="450" />
    </li>

    <li>
      <img class="people-list__img" src="#" alt="Вид з вікна" width="450" />
    </li>
  </ul>
  <div class="button-styli">
    <button class="button" type="button" data-modal-open>Детальніше</button>
    <button class="button" type="button" data-modal-open>
      Переглянути ціни
    </button>
  </div>
</section>
