<section class="section menu" id="menu">
  <div class="container menu__container">
    <h2 class="menu__title">Меню ресторану</h2>
    <div class="menu__box-flex">
      <div>
        <table>
          <caption class="menu__title-dish">
            Гарячі страви
          </caption>
          <tbody class="menu__list">
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Борщ з телятини з квасолею</p>
                <p class="menu__text">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </td>
              <td class="menu__weight">400 г</td>
              <td class="menu__price">240 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Суп сирний з куркою</p>
                <p class="menu__text">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </td>
              <td class="menu__weight">400 г</td>
              <td class="menu__price">200 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Паста карбонара</p>
                <p class="menu__text">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </p>
              </td>
              <td class="menu__weight">350 г</td>
              <td class="menu__price">430 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Стейк зі свинини</p>
                <p class="menu__text">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </p>
              </td>
              <td class="menu__weight">400 г</td>
              <td class="menu__price">500 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Горбуша в соусі з білого вина</p>
                <p class="menu__text">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </p>
              </td>
              <td class="menu__weight">400 г</td>
              <td class="menu__price">400 грн</td>
            </tr>
          </tbody>
        </table>
        <table>
          <caption class="menu__title-dish">
            Гарніри та закуски
          </caption>
          <tbody class="menu__list">
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Гарніри та закуски</p>
                <p class="menu__text">Кабачок, перець, помідор, баклажан</p>
              </td>
              <td class="menu__weight">200 г</td>
              <td class="menu__price">230 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Картопля фрі</p>
                <p class="menu__text">Картопля, соус томатний</p>
              </td>
              <td class="menu__weight">150 г</td>
              <td class="menu__price">160 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Картопля по-селянськи</p>
                <p class="menu__text">Картопля, спеції, соус пікантний</p>
              </td>
              <td class="menu__weight">150 г</td>
              <td class="menu__price">160 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Хрумкі соління з бочки</p>
                <p class="menu__text">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </p>
              </td>
              <td class="menu__weight">250 г</td>
              <td class="menu__price">350 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Крильця курячі в медовому соусі</p>
                <p class="menu__text">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </p>
              </td>
              <td class="menu__weight">400 г</td>
              <td class="menu__price">420 грн</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table>
          <caption class="menu__title-dish">
            Салати
          </caption>
          <tbody class="menu__list">
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Цезар з куркою</p>
                <p class="menu__text">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </td>
              <td class="menu__weight">230 г</td>
              <td class="menu__price">450 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Цезар з креветками</p>
                <p class="menu__text">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </td>
              <td class="menu__weight">230 г</td>
              <td class="menu__price">300 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">Грецький салат</p>
                <p class="menu__text">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </p>
              </td>
              <td class="menu__weight">230 г</td>
              <td class="menu__price">280 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-name">М’ясний салат</p>
                <p class="menu__text">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </p>
              </td>
              <td class="menu__weight">230 г</td>
              <td class="menu__price">300 грн</td>
            </tr>
          </tbody>
        </table>
        <table>
          <caption class="menu__title-dish">
            Десерти
          </caption>
          <tbody class="menu__list-dessert">
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Торт наполеон</p>
              </td>
              <td class="menu__weight">230 г</td>
              <td class="menu__price">300 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Торт маковий</p>
              </td>
              <td class="menu__weight">230 г</td>
              <td class="menu__price">300 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Тірамісу</p>
              </td>
              <td class="menu__weight">120 г</td>
              <td class="menu__price">260 грн</td>
            </tr>
          </tbody>
        </table>
        <table>
          <caption class="menu__title-dish">
            Напої
          </caption>
          <tbody class="menu__list-dessert">
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Чай чорний/зелений</p>
              </td>
              <td class="menu__weight">500 мл</td>
              <td class="menu__price">100 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Еспресо</p>
              </td>
              <td class="menu__weight">30 мл</td>
              <td class="menu__price">100 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Американо</p>
              </td>
              <td class="menu__weight">150 мл</td>
              <td class="menu__price">100 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Капучино</p>
              </td>
              <td class="menu__weight">200 мл</td>
              <td class="menu__price">160 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="menu__dish">
                <p class="menu__dish-dessert">Лате</p>
              </td>
              <td class="menu__weight">200 мл</td>
              <td class="menu__price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button
      type="button"
      class="menu__button"
      data-modal-table-open__restaurant-menu
    >
      Забронювати столик
    </button>
    <span
      class="background-line background-line--line1 menu__line menu__line--hidden"
    ></span>
    <span
      class="background-line background-line--line2 menu__line menu__line--hidden"
    ></span>
    <span class="background-line background-line--line3 menu__line"></span>
  </div>
</section>
