<section class="restaurant-about">
    <div class="container">
        <span class="restaurant-about__subtitle">Amet minim mollit non</span>
        <h3 class="restaurant-about__title">MIMIHO</h3>
        <p class="restaurant-about__text1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <img src="#" srcset="#" alt="restaurant interior1" width="244" height="322"
                class="restaurant-about__image1">
        </picture>
        <div class="restaurant-about__thumb">
            <picture>
                <img src="#" srcset="#" alt="restaurant interior2" width="200" height="278"
                    class="restaurant-about__image2">
            </picture>
            <p class="restaurant-about__text2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="slider">будущий слайдер</div>
    </div>
</section>