<section class="restaurant-hero">
    <div class="restaurant-hero__overlay">
        <div class="container">
            <h1 class="restaurant-hero__title">Mimiho</h1>
            <h2 class="restaurant-hero__subtitle">Ресторан</h2>
            <p class="restaurant-hero__text">Смак життя 24/7</p>
            <div class="restaurant-hero__nav">
                <address class="address"><svg class="address__icon">
                        <use href="./images/symbol-defs.svg#icon-location-pin"></use>
                    </svg><a href="https://goo.gl/maps/NzeSekdm9h37D8Ng9" target="_blank"
                        rel="noopener noreferrer nofollow" class="address__link">Україна, м. Полтава,<br>
                        вул. Маршала Бірюзова, 15</a></address>
                <ul class="button__list">
                    <li class="button__item"><button type="submit" class="button">Забронювати
                        столик</button></li>
                    <li class="button__item"><button type="submit" class="button">Переглянути
                        меню</button></li>
                    </ul>
            </div>
        </div>
    </div>
</section>