<section class="room-details">
  <div class="container">
    <ul class="room-details__list">
      <li class="room-details__main-part">
        <h3 class="room-details__main-title">Зручності у номері</h3>
        <p class="room-details__main-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="room-details__part">
        <h4 class="room-details__title">Загальні</h4>
        <div class="room-detalais__box">
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="room-details__part">
        <h4 class="room-details__title">Ванна кімната</h4>
        <div class="room-detalais__box">
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="room-details__part">
        <h4 class="room-details__title">Спальня</h4>
        <div class="room-detalais__box">
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="room-details__part">
        <h4 class="room-details__title">Кухня</h4>
        <div class="room-detalais__box">
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="room-details__part">
        <h4 class="room-details__title">Медіа</h4>
        <div class="room-detalais__box">
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
          <p class="room-details__text"></p>
        </div>
      </li>
    </ul>
    <div class="room-details__choice">
      <button class="room-details__buton" type="button" data-modal-room-open>
        Оформити бронювання
      </button>
      <a class="room-details__return" href="/src/hotelpage.html">
        <div class="room-details__return-box">
          <p class="room-details__return-text">
            Повернутися до перегляду номерів
          </p>
          <svg width="20" height="20" class="room-details__return-icon">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </a>
    </div>
    <span
      class="background-line background-line--line1 menu__line--hidden"
    ></span>
    <span
      class="background-line background-line--line2 menu__line--hidden"
    ></span>
    <span
      class="background-line background-line--line3 menu__line--hidden"
    ></span>
  </div>
</section>
