<main>
  <section class="room-details">
    <div class="container">
      <h3 class="room-details__main-title">Зручності у номері</h3>
      <p class="room-details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <ul>
        <li><h4 class="room-details__title"</li>
        <div class="hero__menu"></div>
      </ul>
      <div class="hero__butons">
        <button class="hero__button-room" type="button">
          Оформити бронювання
        </button>
        <!-- <button class="hero__button-price" type="button">
            Переглянути ціни
          </button> -->
      </div>
    </div>
  </section>
</main>
