<main>
  <section class="room-details">
    <div class="container">
      <ul class="room-deyails__list">
        <li class="room-details__part">
          <h3 class="room-details__main-title">Зручності у номері</h3>
          <p class="room-details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </li>
        <li class="room-details__part">
          <h4 class="room-details__title">Загальні</h4>
          <div>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="room-details__part">
          <h4 class="room-details__title">Ванна кімната</h4>
          <div>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="room-details__part">
          <h4 class="room-details__title">Спальня</h4>
          <div>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
        </li>
        <li class="room-details__part">
          <h4 class="room-details__title">Кухня</h4>
          <div>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
        </li>
        <li class="room-details__part">
          <h4 class="room-details__title">Медіа</h4>
          <div>
            <p class="room-details__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
          </div>
        </li>
      </ul>
      <div class="room-details__buton">
        <button class="hero__button-room" type="button">
          Оформити бронювання
        </button>
      </div>
    </div>
  </section>
</main>
