.about-kitchen {
  width: 100%;
  background: $fon-lemon;

  & .container {
    position: relative;

    padding-top: 16px;
    padding-bottom: 20px;
    @media screen and (min-width: 1024px) {
      padding-top: 120px;
      padding-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
    }
  }

  &__wrap {
    position: relative;
    z-index: 2;
  }

  &__slogan {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $subtitle-color;

    @media screen and (max-width: 1023px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 32px;
      line-height: 1.156;
      margin-bottom: 4px;
    }
  }

  &__title {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media screen and (max-width: 1023px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 64px;
      line-height: 1.078;
    }
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 258px;
    margin-bottom: 28px;
    color: $primary-dark-text;

    @media screen and (min-width: 1024px) {
      max-width: 439px;
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 142px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 518px;
      margin-bottom: 162px;
    }
  }

  &__img {
    margin-left: auto;
    border-radius: 2px;
    @media screen and (max-width: 1023px) {
      margin-bottom: 32px;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    }
    @media screen and (min-width: 1024px) {
      position: absolute;
      top: -152px;
      left: 50%;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      top: -153px;
      left: 50%;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    gap: 20px;
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      gap: 48px;
      padding-bottom: 230px;
    }
    @media screen and (min-width: 1280px) {
      gap: 32px;
      padding-bottom: 175px;
    }
  }

  &__image {
    background-color: $img-background;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (min-width: 1024px) {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
    @media screen and (min-width: 1280px) {
      box-shadow: none;
    }
  }

  &__desc {
    max-width: 163px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $brown-color;

    @media screen and (min-width: 1024px) {
      max-width: 312px;
      font-size: 16px;
      line-height: 1.25;
    }
  }

  .swiper {
    @media screen and (min-width: 414px) {
      position: relative;
      right: -15px;
      width: 330px;
    }
    @media screen and (min-width: 1024px) {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 428px;
    }
    @media screen and (min-width: 1280px) {
      width: 548px;
      margin-top: 32px;
    }
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;

    &-wrapper {
      position: relative;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }
    &-slide {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
      transition-property: transform;
    }
    &-slide img {
      border-radius: 2px;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.05);
    }
    &-slide-invisible-blank {
      visibility: hidden;
    }
    /* Auto Height */
    &-autoheight,
    &-autoheight &-slide {
      height: auto;
    }
    &-autoheight &-wrapper {
      align-items: flex-start;
      transition-property: transform, height;
    }
    &-backface-hidden &-slide {
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &-buttons-wrap {
      width: auto;
      display: flex;
      justify-content: end;
      gap: 32px;
      margin-left: auto;
      margin-right: 0;
      @media screen and (max-width: 1024px) {
        padding-top: 20px;
        padding-right: 15px;
      }
      @media screen and (min-width: 1024px) {
        padding-top: 32px;
      }
      @media screen and (min-width: 1280px) {
        padding-top: 36px;
      }
    }
    &-button-prev,
    &-button-next {
      cursor: pointer;
      width: 32px;
      height: 32px;
      color: black;
      fill: $black-color;
      transition: color 250ms $animation;
    }
    &-button-prev:hover,
    &-button-prev:focus,
    &-button-next:hover,
    &-button-next:focus {
      fill: $accent-color;
      color: $accent-color;
    }
  }

  // &__wrapper {
  //     display: flex;
  //     position: absolute;
  //     margin-bottom: 20px;
  //     gap: 24px;
  //     left: 84px;
  //     bottom: 52px;

  //     @media screen and (min-width: 1024px) {
  //         gap: 40px;
  //         left: 536px;
  //         bottom: 34px;
  //     }
  //     @media screen and (min-width: 1280px) {
  //         left: 665px;
  //         bottom: 38px;
  //     }
  // }

  // &__swiper {
  //     border-radius: 2px;
  //     box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25);

  // }

  // &__tumb {
  //     display: flex;
  //     justify-content: flex-end;
  //     gap: 30px;
  // }

  // &__btn {
  //     fill: black-color;
  //     background-color: #FFFDEE;
  //     border: none;
  //     transition-property: fill;
  //     transition-duration: 250ms;
  //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  //     transition-delay: 0;
  // }

  // &__btn:hover,
  // &__btn:focus {
  //     fill: $accent-transparent-color;
  // }
}
