.btn {
  display: block;
  width: 240px;
  padding: 15px 24px;
  color: $accent-color;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: 0.02em;
  background-color: $btn-bgc;
  border: 2px solid $white-color;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  z-index: 3;

  transition: color 250ms $animation, background-color 250ms $animation;
}
