.container {
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    width: 1024px;
  }

  @media (min-width: 1280px) {
    width: 1280px;
  }
}
