.details-hotel {
  text-align: center;
  position: relative;
}

.details-hotel__overlay {
  background-color: rgba(0, 0, 0, 0.65);
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient($gradient-color, $gradient-color),
    url(../images/mobile/homepage/mobile-homepage-bg-pic-2@1x.jpg);

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
    screen and (min-resolution: 192dpi) and (max-width: 1023px),
    screen and (min-resolution: 2dppx) and (max-width: 1023px) {
    background-image: linear-gradient($gradient-color, $gradient-color),
      url(../images/mobile/homepage/mobile-homepage-bg-pic-2@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: linear-gradient($gradient-color, $gradient-color),
      url(../images/tablet/homepage/tablet-homepage-pic-2@2x.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient($gradient-color, $gradient-color),
      url(../images/tablet/homepage/tablet-homepage-bg-pic-2@1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: linear-gradient($gradient-color, $gradient-color),
      url(../images/desktop/homepage/desktop-homepage-bg-pic-2@2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient($gradient-color, $gradient-color),
      url(../images/desktop/homepage/desktop-homepage-bg-pic-2@1x.jpg);
  }
}

.details-hotel__container {
  z-index: 2;
  position: relative;
  padding-top: 24px;
  padding-bottom: 40px;

  @media screen and (min-width: 1024px) {
    padding-top: 48px;
    padding-bottom: 96px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 94px;
  }
}

.details-hotel__info {
  width: 243px;
  text-align: left;
  margin-bottom: 398px;

  margin-right: 0;

  @media screen and (min-width: 1024px) {
    width: 549px;
    margin: 0 auto 198px;
  }

  @media screen and (min-width: 1280px) {
    width: 595px;
    margin-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.details-hotel__title {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  font-style: normal;
  color: $white-color;
  margin-bottom: 12px;
  margin-top: 0;
  height: 43px;
  text-transform: uppercase;
  text-align: right;

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    margin-bottom: 16px;
    height: 69px;
  }
}

.details-hotel__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $white-color;

  margin-bottom: 20px;
  text-align: right;

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.details-hotel__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $grey-font;
  height: 62px;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.25;
    height: 44px;
  }
}

.hotel-details-btn__list {
  list-style: none;

  @media screen and (min-width: 1024px) {
    margin-right: 0;
    text-align: left;
  }
}

.hotel-details-btn__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1024px) {
    max-width: 236px;
    margin-right: 0;
    margin-left: auto;
    text-align: left;
  }
}

.hotel-details-btn {
  display: inline;
  width: 236px;
  height: 48px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  transition: color 250ms $animation, background-color 250ms $animation;

  &:hover,
  &:focus {
    color: $accent-transparent-color;
    background-color: $white-color;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    background-color: $black-color;
  }
}

.hotel-details-btn__link {
  text-decoration: none;
  color: $accent-color;

  &:hover,
  &:focus {
    color: $accent-transparent-color;
  }
}

.swiper__container-hotel-details {
  position: absolute;
  top: 228px;
  right: 0;
  left: auto;
  z-index: 2;
  left: auto;

  @media screen and (min-width: 1024px) {
    top: 254px;
    left: 52px;
    right: auto;
  }

  //   @media screen and (min-width: 1024px) {
  //     right: 52px;
  //   }
}

.swiper {
  max-width: 280px;
  overflow: hidden;
  margin-bottom: 16px;

  @media screen and (min-width: 414px) {
    max-width: 379px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 664px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 876px;
  }

  /* Fix of Webkit flickering */
  z-index: 1;

  &-wrapper {
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  &-slide {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  &-slide img {
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.05);
  }
  &-slide-invisible-blank {
    visibility: hidden;
  }
  /* Auto Height */
  &-autoheight,
  &-autoheight &-slide {
    height: auto;
  }
  &-autoheight &-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
  &-backface-hidden &-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &-buttons-wrap {
    width: auto;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-left: 15px;

    @media screen and (max-width: 1024px) {
      padding-top: 20px;
      padding-right: 15px;
    }
    @media screen and (min-width: 1024px) {
      padding-top: 32px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 40px;
    }
  }
  &-button-prev,
  &-button-next {
    cursor: pointer;
    width: 32px;
    height: 32px;
  }
  &-button-icon {
    fill: $black-color;
    transition: fill 250ms $animation;
  }
  &-button-icon:hover,
  &-button-icon:focus {
    fill: $accent-color;
  }
}
.swiper-control {
  display: flex;
  gap: 30px;

  justify-content: flex-end;
  padding-right: 42px;
}

.swiper-wrapper {
  width: 100%;
  display: flex;
}

.swiper-slide {
  margin-right: 20px;

  @media screen and (min-width: 1024px) {
    margin-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 86px;
  }
}

.swiper__btn {
  background: none;
  border: none;
  fill: $white-color;
  transition: fill 250ms $animation;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.swiper__btn_next {
  margin-right: 32px;
}
