.main-hero {
  background-color: $footer-bgc;
  background-image: url(../images/mobile/homepage/mobile-homepage-hero@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin-bottom: 24px;

    font-family: 'Film P3';

    font-size: 96px;
    // line-height: 100%;
    letter-spacing: 0.3em;
    text-align: center;
    color: $white-color;
  }

  &__subtitle {
    margin-bottom: 40px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $white-color;
  }

  &__text {
    margin-bottom: 113px;

    font-family: 'Times New Roman';
    font-size: 32px;
    text
  }
}
