td {
  list-style-type: none;
}

.menu {
  width: 100%;

  margin: 0 auto;
  background: #fffdee;

  @media screen and (min-width: 1024px) {
    background-color: #f0ecd6;

    position: relative;
  }

  &__container {
    position: relative;
    z-index: 1;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 32px;

    @media screen and (min-width: 414px) {
      max-width: 414px;
      padding: 0 15px;
      padding-top: 32px;
    }

    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      padding: 0 47px 40px 47px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding: 0 85px 60px 85px;
    }
  }

  &__title {
    font-family: 'Times New Roman';

    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.16;

    text-transform: uppercase;

    color: #000000;

    @media screen and (min-width: 414px) {
      font-size: 32px;
    }

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    margin-bottom: 16px;
    color: #000000;

    @media screen and (min-width: 1024px) {
      padding-top: 58px;
      margin-bottom: 20px;
    }
  }

  &__box-flex {
    @media screen and (min-width: 1024px) {
      display: flex;
      // justify-content: space-between;
      gap: 88px;
      width: 937px;
      margin: 0 auto;
    }

    @media screen and (min-width: 1280px) {
      width: 1120px;

      gap: 140px;
    }
  }

  &__title-dish {
    font-family: 'Times New Roman';
    margin: 16px 0 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    text-align: left;

    @media screen and (min-width: 1024px) {
      margin: 20px 0 20px;
    }
  }

  &__list,
  &__list-dessert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;

    max-width: 384px;

    gap: 8px;

    @media screen and (min-width: 414px) {
      width: 384px;
    }

    @media screen and (min-width: 414px) {
      width: 384px;
    }

    @media screen and (min-width: 1024px) {
      min-width: 420px;
    }

    @media screen and (min-width: 1280px) {
      min-width: 485px;
      gap: 12px;
    }
  }

  &__list-dessert {
    gap: 8px;

    @media screen and (min-width: 1280px) {
      gap: 9px;
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    color: #000000;

    @media screen and (min-width: 1024px) {
      width: 420px;
    }

    @media screen and (min-width: 1280px) {
      width: 485px;
    }
  }

  &__dish {
    width: 200px;

    @media screen and (min-width: 414px) {
      width: 225px;
    }

    @media screen and (min-width: 1280px) {
      width: 291px;
    }
  }

  &__dish-name,
  &__dish-dessert,
  &__dish-late {
    margin-bottom: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;

    @media screen and (min-width: 1280px) {
      height: auto;
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__dish-dessert {
    margin-bottom: 0;
    height: 19px;

    @media screen and (min-width: 1280px) {
      height: 22px;
    }
  }

  &__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  &__weight {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.02em;

    color: #000000;
  }

  &__price {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;

    color: #000000;
  }

  &__button {
    min-width: 236px;
    display: block;
    padding: 15px 24px;
    margin: 32px auto 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: $accent-color;

    background: #000000;
    border: 2px solid $white-color;
    border-radius: 25px;
    cursor: pointer;
    outline: none;

    transition: color 250ms $animation, background-color 250ms $animation;

    &:hover,
    &:focus {
      color: $accent-color;
      border: 2px solid $accent-color;
      background-color: $white-color;
    }

    @media screen and (min-width: 1024px) {
      margin: 40px 0 0 auto;
    }
  }
}
