.about-our-restaurant {
  background: $fon-lemon;
}
.about-our-restaurant .container {
  position: relative;
  padding-bottom: 20px;
}
.about-our-restaurant__wrap {
  position: relative;
  z-index: 2;
}
.about-our-restaurant__about-content {
  @media screen and (max-width: 1024px) {
    padding-top: 16px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 142px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 162px;
  }
}
.about-our-restaurant__subtitle {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: $subtitle-color;
  margin-bottom: 12px;
  @media screen and (min-width: 1024px) {
    font-size: 32px;
    margin-bottom: 4px;
  }
}
.about-our-restaurant__title {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: $logo-color;
  margin-bottom: 12px;
  @media screen and (min-width: 1024px) {
    color: $grey-font;
    font-size: 64px;
    margin-bottom: 24px;
  }
}
.about-our-restaurant__text1 {
  width: 258px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $primary-dark-text;
  @media screen and (min-width: 1024px) {
    width: 439px;
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 518px;
  }
}
.about-our-restaurant__image1 {
  margin-left: auto;
  border-radius: 2px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1024px) {
    position: absolute;
    top: -32px;
    left: 50%;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: -33px;
    left: 50%;
  }
}
.about-our-restaurant__block2 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    gap: 48px;
  }
  @media screen and (min-width: 1280px) {
    gap: 32px;
  }
}
.about-our-restaurant__picture {
  flex-shrink: 0;
}
.about-our-restaurant__image2 {
  border-radius: 2px;
  @media screen and (max-width: 1024px) {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1024px) {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
.about-our-restaurant__text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $brown-color;
  width: 163px;
  @media screen and (min-width: 1024px) {
    width: 312px;
    font-size: 16px;
  }
}
.slider {
  display: block;
  width: 245px;
  height: 245px;
  margin: 0 auto;
  background: #dadada;
}
.about-our-restaurant__background-line {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 33.81%;
  border: 1px solid rgba(122, 122, 122, 0.4);
  filter: blur(0.5px);
  @media screen and (min-width: 1024px) {
    left: 278px;
  }
  @media screen and (min-width: 1280px) {
    left: 338px;
  }
}
.about-our-restaurant__background-line--line2 {
  @media screen and (max-width: 1024px) {
    opacity: 0;
  }
  @media screen and (min-width: 1024px) {
    left: 50%;
  }
}
.about-our-restaurant__background-line--line3 {
  right: 33.81%;
  @media screen and (min-width: 414px) {
    right: 140px;
  }
  @media screen and (min-width: 1024px) {
    right: 278px;
  }
  @media screen and (min-width: 1280px) {
    right: 338px;
  }
}
