$img-hero-color: rgba(0, 0, 0, 0.65); //images hero shadow

.hotel-hero {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    padding: 181px 0 102px 0;

    @media (min-width:1024px) {
        padding-top: 188px;
        padding-bottom: 64px;
    }

    @media (min-width:1280px) {
        padding-top: 164px;
        padding-bottom: 64px;

    }

    background-color: $img-hero-color;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
    url(../images/mobile/hotel/mobile-hotel-hero@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1024px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/mobile/hotel/mobile-hotel-hero@1x.jpg);
    }

    @media (min-device-pixel-ratio:2) and (max-width: 1024px),
    (min-resolution: 192dpi) and (max-width: 1024px),
    (min-resolution: 2dppx) and (max-width:1024px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/mobile/hotel/mobile-hotel-hero@2x.jpg)
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/tablet/hotel/tablet-hotel-hero@1x.jpg)
    }

    @media (min-device-pixel-ratio:2) and (min-width: 1024px) and (max-width: 1279px),
    (min-resolution: 192dpi) and (min-width: 1024px) and (max-width: 1279px),
    (min-resolution: 2dppx) and (min-width: 1024px) and (max-width: 1279px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/tablet/hotel/tablet-hotel-hero@2x.jpg)
    }

    @media (min-width: 1280px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/desktop/hotel/desktop-hotel-hero@1x.jpg)
    }

    @media (min-device-pixel-ratio:2) and (min-width: 1280px),
    (min-resolution: 192dpi) and (min-width: 1280px),
    (min-resolution: 2dppx) and (min-width: 1280px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/desktop/hotel/desktop-hotel-hero@2x.jpg)
    }
}

.hero__title {
    max-width: 100%;
    margin-bottom: 24px;
    margin-left: auto;

    font-family: 'Film P3';
    font-weight: 700;
    font-size: 96px;
    line-height: calc(103 / 96);
    color: $white-color;

    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1024px) {
        font-size: 128px;
        line-height: calc(138 / 128);
        letter-spacing: 0.3em;
    }

}

.hero__subtitle {
    max-width: 100%;
    margin-bottom: 178px;

    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/ 20);
    letter-spacing: 0.02em;
    color: $white-color;
    text-align: center;

    @media (min-width: 1024px) {
        margin-bottom: 226px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 226px;
    }
}

// .hero__net-list {

//     display: flex;
//     fill: $accent-transparent-color;
//     list-style: none;
//     gap: 20px;

//     @media screen and (min-width: 1024px) {
//         display: none;
//     }
// }

// .hero__net-link {
//     fill: $accent-transparent-color;
//     cursor: pointer;
// }

.hero__menu {
    @media (min-width:1024px) {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
}

.hotel-hero__address {
    display: block;
    border: 1px solid;
    border-color: $accent-transparent-color;
    border-radius: 2px;
    color: $address-text-color;

    & hover,
    & focus {
        cursor: pointer;
    }

    @media (max-width: 1023px) {
        position: absolute;
        left: auto;
        right: auto;
        right: 15px;
        top: 64px;
        width: 210px;
        height: 47px;

        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        padding-left: 6px;
        padding-top: -3px;
        padding-top: 8px;
        padding-bottom: 9px;
    }

    @media (min-width: 1024px) {
        width: 285px;
        height: 56px;
        text-decoration: none;
        padding-left: 8px;
        padding-top: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.hotel-hero__pin-icon {
    fill: $accent-transparent-color;
}

.hotel-hero__where {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hotel-hero__address-item {

    color: $address-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(15/ 12);
    letter-spacing: 0.01em;
    text-align: left;

    @media (min-width:1024px) {

        font-weight: 400;
        font-size: 16px;
        line-height: calc(20/ 16);
    }
}

.hero__butons {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:1024px) {
        flex-direction: row;
        gap: 40px;
    }

}

.hero__button-room {
    display: block;
    margin-bottom: 24px;
    @extend .btn;
    width: 232px;
    padding: 13px;


    & hover,
    & focus {
        background-color: $white-color;
        border-color: $white-color;
        color: $accent-color;
        cursor: pointer;

    }


    @media (min-width: 1024px) {
        width: 236px;
    }

    @media (min-width: 1280px) {
        width: 240px;
    }
}

.hero__button-price {
    display: block;
    margin-bottom: 24px;
    @extend .btn;
    width: 236px;
    height: 48px;

    & hover,
    & focus {
        background-color: $white-color;
        border-color: $white-color;
        color: $accent-color;

    }
}