.room-details {
    width: 100vw;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    background-color: $fon-lemon;
}

.room-deyails__list {
    list-style: none;
}

.room-details__part {
    margin-bottom: 32px;
}

.room-details__main-title {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 32px;
    line-height: calc(37/32);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.room-details__text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(37/32);
    color: $primary-text-color;
    margin-bottom: 16px;
}

.room-details__title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.room-details__buton {
    display: block;
    @extend .btn;
    width: 384px;
    padding: 15px 24px;
    margin-bottom: 20px;
    background-color: $black-color;
    color: $white-color;
    border: 1px solid $accent-color;

    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    text-transform: uppercase;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $black-color;
        border-color: $accent-color;
        cursor: pointer;
    }
}

.room-details__return {
    text-decoration: none;
}

.room-details__return-box {
    display: flex;
    gap: 12px;
}

.room-details__return-item {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    // letter-spacing: 0.02em;
    color: $brown-color;
}

.room-details__return-icon {
    fill: $brown-color;
}